---
import BookdemoForm from '../bookdemo/BookdemoForm.astro';

// FooterHero.astro
---

<section
  class="w-full min-h-[60vh] flex items-center justify-center py-16 px-4 bg-gradient-to-b from-white to-blue-100"
>
  <div class="max-w-3xl mx-auto text-center">
    <h2 class="text-5xl font-medium leading-tight mb-6">
      Duerme más tranquilo y
      <span class="text-blue-500">olvídate de las actualizaciones de renta</span>
    </h2>
    <p class="text-base md:text-lg text-gray-800 max-w-3xl mx-auto mb-10">
      AutoIPC es una herramienta que te permite automatizar el proceso de actualizaciones de renta de tus inmuebles.
    </p>

    <div class="flex items-center justify-center">
      <a href="#" class="cta-primary">Empieza a usar AutoIPC hoy mismo</a>
    </div>
  </div>
</section>
